body{
    box-sizing: border-box;
}
.product{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.product-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.products_img{
    height: 300px;
    width: 200px;
    
}
.product p{
    text-align: center;
}
.product:hover .product-actions{
    opacity: 1;
}
.product-actions{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    color: aliceblue;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(26, 12, 12);
}
.OneProduct{
margin-top: 20px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
}
.OneProduct img{
height: 300px;
width: 200px;
}
.OneProduct p{
    width: 50%;
    align-items: center;
    min-height: 3.5rem;
}
.cart-counter{
    padding-left: .25rem;
}
footer div{
    background-color: rgb(163, 146, 178) !important;
}

/* .goToLogin{

} */
.emptyCart{
    height: 158px;
    /* width: 120px; */
    margin-top: 15px;
    margin-left: 24%;
    margin-bottom: 15px;
    text-align: center;
}
.emptyCart h1{
    height: 50%;
    width: 50%;
}